{% extends "base.j2" %}

{% block page %}

<div class="row h-100 align-middle align-items-center justify-content-center">
    <div class="align-self-center col-12 col-sm-10 col-md-7 col-lg-4 col-xl-2">
        <form class="form-signin">
            <img class="mb-4" src="https://picsum.photos/72" alt="Logo" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2020</p>
        </form>
    </div>
</div>


{% endblock %}
